# Compilación
build/
*.os
*.o
*.obj
*.lib
*.exp
*.pdb
.sconsign*.dblite
thirdparty/sqlite/

# Godot
game/.godot/
game/export/

# Bibliotecas que no se suben (sí se suben las de linux/windows ya compiladas)
game/bin/*.framework/
game/bin/*.dylib
game/bin/~*

# Caché de imágenes de cartas (se descargan al jugar)
game/pics/
